.main-signup-form {
    min-width: 400px; 
    min-height: 500px; 
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(157, 157, 157, 0.5);
}

.signup-google-btn {
    background: none;
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 1px solid #3068ff;
}

.get-started-btn {
    background-color: #3068ff;
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #F8F8F8;
}

.forgot-a:hover {
    text-decoration: underline !important;
}


