{% extends "base.html" %}
{% block start %}


<link rel="stylesheet" href="/static/css/main.css">

<div class="container">
    <div class="row" style="min-height: 600px;">
        <div class="col-md-6 d-flex flex-column align-items-center justify-content-center">
            <div class="text-center mb-2">
                <p class="p-main mx-5"><b>Your favorite content. All in one place!</b></p>
            </div>
            <div class="text-center">
                <p class="p-secondary mx-5">Get to know about the sentiment of your favorite RSS feeds on one click.</p>
            </div>
            <div class="text-center">
                <a class="signup-main-btn btn btn-lg mt-4" style="margin-top: -80px;" href="/dashboard/"><b>Get Started</b></a>
            </div>
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <img src="/static/images/main-svg.svg" class="my-5 img-fluid" alt="Your SVG Image">
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="heading-text text-center">
        <h2 style="color: #170312;">Hear from our valuable customers</h2>
    </div>

    <div class="reviews-container mb-5">
        <!-- Your existing review cards here -->
        <div class="review-card">
            <div class="stars">&#9733;&#9733;&#9733;&#9733;&#9733;</div>
            <p class="review-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quasi modi, neque
                exercitationem nesciunt quos architecto animi eum labore dolorum itaque optio libero est debitis eos. Nisi
                rem illum perferendis!</p>
            <p class="review-name">binaksl123</p>
        </div>
        <div class="review-card">
            <div class="stars">&#9733;&#9733;&#9733;&#9733;&#9733;</div>
            <p class="review-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. At, nihil aliquam itaque sint
                necessitatibus atque tempore sed ex doloribus illo consectetur sequi ducimus porro totam deleniti aperiam
                hic cum nemo!</p>
            <p class="review-name">binaksl123</p>
        </div>
        <div class="review-card">
            <div class="stars">&#9733;&#9733;&#9733;&#9733;&#9733;</div>
            <p class="review-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit cum velit cupiditate
                nostrum numquam unde quo sed quae, enim quasi corrupti deleniti vitae at dolores ratione iste rem sint
                ea.</p>
            <p class="review-name">binaksl123</p>
        </div>
        <div class="review-card">
            <div class="stars">&#9733;&#9733;&#9733;&#9733;&#9734;</div>
            <p class="review-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus in reiciendis
                recusandae officiis, ipsam, sed molestias nam vitae necessitatibus vero unde architecto quaerat placeat
                voluptatibus odit nulla dolorum, itaque incidunt.</p>
            <p class="review-name">binaksl123</p>
        </div>
        <div class="review-card">
            <div class="stars">&#9733;&#9733;&#9733;&#9733;&#9734;</div>
            <p class="review-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga quia rerum delectus.
                Commodi explicabo nemo veritatis doloribus voluptatum dolorem porro qui ea ex? Doloremque eum,
                necessitatibus saepe possimus quaerat animi?</p>
            <p class="review-name">binaksl123</p>
        </div>
        <div class="review-card">
            <div class="stars">&#9733;&#9733;&#9733;&#9733;&#9734;</div>
            <p class="review-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga quia rerum delectus.
                Commodi explicabo nemo veritatis doloribus voluptatum dolorem porro qui ea ex? Doloremque eum,
                necessitatibus saepe possimus quaerat animi?</p>
            <p class="review-name">binaksl123</p>
        </div>
        <div class="review-card">
            <div class="stars">&#9733;&#9733;&#9733;&#9733;&#9734;</div>
            <p class="review-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga quia rerum delectus.
                Commodi explicabo nemo veritatis doloribus voluptatum dolorem porro qui ea ex? Doloremque eum,
                necessitatibus saepe possimus quaerat animi?</p>
            <p class="review-name">binaksl123</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row" style="min-height: 500px;">
        <div class="col-md-8 d-flex flex-column justify-content-center">
            <div class="">
                <p class="p2-main mx-4"><b>Save hours on finding and following content every week</b></p>
            </div>
            <div class="">
                <p class="p2-secondary mx-4">Sign up for a free account now.</p>
            </div>
            <img style="width: 50%; height: 50%;" src="/static/images/main-signup-svg.svg" class="my-5 img-fluid mx-4" alt="Your SVG Image">
        </div>
        <div class="col-md-4 d-flex align-items-center justify-content-center mb-5">
            <div class="mx-5 main-signup-form d-flex flex-column align-items-center justify-content-center">
                <p style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: larger;"><b>Sign up now</b></p>
                <button class="signup-google-btn btn mt-2 d-flex align-items-center justify-content-center" style="width: 85%;">
                    <img class="" style="margin-right: 10px; height: 15px;" src="https://www.svgrepo.com/show/475656/google-color.svg" loading="lazy" alt="google logo">
                    <span>Sign up with Google</span>
                </button>
                <div class="text-container mt-4">
                    <div class="line"></div>
                    <p>or</p>
                    <div class="line"></div>
                </div>
            
                <div class="input-container mt-2" style="width: 85%;">
                    <input type="email" class="form-control mb-3 signup-google-btn" placeholder="E-mail">
                    <input type="password" class="form-control mb-3 signup-google-btn" placeholder="Password">
                </div>   
                <button class="get-started-btn btn mt-2 d-flex align-items-center justify-content-center" style="width: 85%;">
                    <span>Get Started</span>
                </button>      
            </div>
        </div>
    </div>
</div>

{% endblock %}
